<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Africa</string>
		<key>image</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>American</string>
		<key>image</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mexico</string>
		<key>image</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Germany</string>
		<key>image</key>
		<string>1</string>
	</dict>
    <dict>
        <key>name</key>
        <string>England</string>
        <key>image</key>
        <string>2</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Brazil</string>
        <key>image</key>
        <string>3</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Algenti</string>
        <key>image</key>
        <string>1</string>
    </dict>

</array>
</plist>
