<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hunan</key>
	<array>
		<string>changsha</string>
		<string>xiangtan</string>
		<string>zhuzhou</string>
	</array>
	<key>hubei</key>
	<array>
		<string>wuhan</string>
		<string>jingzhou</string>
		<string>huanggang</string>
	</array>
</dict>
</plist>
