<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>12312</string>
		<string>123123</string>
	</array>
	<string>harry</string>
	<string>trenct</string>
	<dict/>
	<string>eric</string>
	<string>31</string>
	<string>male</string>
</array>
</plist>
